//- index.pug
extends ../base/base_layout.pug
block append scripts
    script(src='/js/c_test.js')  
block append error_msg
    div.login

        p Hi #{gr},
        p
            a#login_link(href="http://localhost/userLogin" target="_blank") Login
        p 
            a#signup_link(href="http://localhost/userLogin" target="_blank") Sign-up
